<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
</head>
<body>
    {% extends "blog/base.html" %}

{% block title %}About Me{% endblock %}

{% block content %}

<h1>About Me</h1>

<p>
    Hi 👋 I’m learning Django and backend development.
    This blog is a part of my journey to build real-world projects,
    understand how web applications work, and improve my skills.
</p>

<p>
    I believe learning by building is the best way to grow.
</p>

{% endblock %}

</body>
</html>